<header class="header">
  <div class="header__inner">
    <div class="header__logo">
      {{ partial "logo.html" . }}
    </div>
    {{ if len $.Site.Menus }}
	<button id="theme-toggle" aria-label="Toggle Theme">
	  <img src="{{ "icons/moon.png" | relURL }}" alt="Moon Icon">
	</button>      {{ partial "mobile-menu.html" . }}
    {{ end }}
    {{ if and $.Site.Params.showLanguageSelector (len $.Site.Home.AllTranslations) }}
      {{ partial "language-menu.html" . }}
    {{ end }}
  </div>
  {{ if len $.Site.Menus }}
    {{ partial "menu.html" . }}
  {{ end }}
</header>
